:root {
    --cor-de-fundo: #181818;
    --cor-botoes-try-signup:#4452FE;
    --cor-letra: #fff;
    --fonte-letras: 'Khula', sans-serif; 
    --cor-fundo-quadro-final: #343434;
    
}

body {
    
    background-color: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-family: var(--fonte-letras); 
    
}


.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    margin-top: 30px; 
    
    
}

.cabecalho nav {
    display: flex;
    justify-content: center;
}


.cabecalho_logo {
    display: flex;
    flex-direction: row;
    padding-right: 136px;
   
   
}

.cabecalho_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 393px;
    height: 44px;
}

  .botao_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 183.5px;
  }

  .botao_login button {
    cursor: pointer;
    width: 139px;
    height: 52px;
    border: 1px solid #FFFFFF;
    background: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-weight: 500;
    font-size: 17px;
  }

  .cabecalho_sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 17px;
    height: 393px;
    
  }

  .cabecalho_titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 729px;
    height: 196px;
  }

  .cabecalho_titulo h1 {
    font-weight: 500;
    font-size: 80px;
    text-align: center;
  }

  .cabecalho_paragrafo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 602px;
    height: 80px;
  }

  .cabecalho_paragrafo p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  .cabecalho_botao {
    display: flex;
    justify-content: space-between;
    width: 387px;
    height: 65px;
    
  }

  .cabecalho_botao--1 {
    width: 178px;
    height: 65px;
    border: none;
    background: #4452FE;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: var(--cor-letra);
    cursor: pointer;  
  }

  .cabecalho_botao--2 {
    width: 178px;
    height: 65px;
    background-color: var(--cor-de-fundo);
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color:#FFFFFF;
    cursor: pointer;
  }
  

.cabecalho_imagem {
  width: 1499px;
  height: 993px;
}

#cabecalho_imagem {
  width: 100%;
  height: 841px;
  background: linear-gradient(to bottom, transparent 5%, black 100%), url(../images/dashboard.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;    
}

.recursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 50px;
  gap: 10px;
  height: 1112px;
}


.recursos_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 602px;
  height: 149px;
}

.recursos_sobre h1 {
  font-weight: 400;
  font-size: 52px;
}

.recursos_sobre p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.recursos_frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 27px;
  width: 1088px;
  height: 759px
}

.recursos_img {
  width: 752px;
  height: 759px;
}

.recurso_img--1 {
  position: absolute;
  width: 696px;
  height: 659px;
  transform: translateY(10%);
  
}

.recurso_img--2 {
  position: absolute;
  width: 400px;
  height: 276px;
  transform: translate(80%, 180%);    
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 100px;
  gap: 25px;
  width: 309px;
  height: 651px;
}

.lista_itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 269px;
  height: 196px;
}

.lista_itens--1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 205px;
  height: 80px;
  
}

.lista_img {
  padding: 19px 3px;
}

.lista_itens--h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

.lista_itens--p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 199px;
  gap: 35px;
  height: 930.52px;
}


.conteudo_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 591px;
  height: 162px;
}

.conteudo_sobre h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.conteudo_sobre p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.cartoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 33px;
  width: 985px;
  height: 624.52px;
}

.cartoes--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 57px;
  width: 476px;
  height: 620px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cartoes--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 57px;
  width: 476px;
  height: 620px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cartoes_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 288px;
  height: 152px;
}

.cartoes_sobre h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.cartoes_sobre p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5C5C5C;
  width: 268px;
  height: 72px;
}

.cartoes_img {
  margin-top: 20px;
}

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 199px;
  gap: 35px;
  height: 1016px;
}

.galeria_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 44px;
  width: 1087px;
  height: 916px;
}

.galeria_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 591px;
  height: 162px;
}

.galeria_sobre h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.galeria_sobre p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.galeria_imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 33px;
  width: 999px;
  height: 285px;
}

.galeria_imagens img {
  width: 225px;
  height: 285px;
  border-radius: 10px;
}

.galeria_imagens--2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 33px;
  width: 1087px;
  height: 285px;
}

.galeria_img--1 {
  width: 395px;
  height: 285px;
  border-radius: 10px;
}

.galeria_img--2 {
  width: 225px;
  height: 285px;
  border-radius: 10px;
}

.galeria_img--3 {
  width: 401px;
  height: 285px;
  border-radius: 10px;
}

.botao_see_partners {
  width: 159px;
  height: 52px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  background: var(--cor-de-fundo);
  font-weight: bold;
  font-size: 17px;
  color: var(--cor-letra);
  cursor: pointer;
}

.parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  gap: 50px;
  height: 484.55px;
}

.parceiros_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 591px;
  height: 162px;
}

.parceiros_sobre h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.parceiros_sobre p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.parceiros_empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 74px;
  width: 831.97px;
  height: 60px;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  gap: 50px;
  height: 884px;
}

.depoimentos h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.depoimentos-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 23px;
  width: 883px;
  height: 652px;
}

.depoimentos-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 430px;
  height: 652px;
}

.depoimentos-esquerda--1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  width: 430px;
  height: 328px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.depoimentos-esquerda--client {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  width: 162px;
  height: 50px;
}

.depoimentos-esquerda--client img {
  width: 50px;
  height: 50px;
}

.depoimentos-esquerda-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 99px;
  height: 48px;
}

.depoimentos-esquerda--1 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 168px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

}

.depoimentos-esquerda--2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  width: 430px;
  height: 304px;
  background: #181818;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.depoimentos-esquerda--2-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  width: 162px;
  height: 50px;
}
.depoimentos-esquerda--2-client img {
  width: 50px;
  height: 50px;
}

.depoimentos-esquerda--2-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 99px;
  height: 48px;
}

.depoimentos-esquerda--2 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 320px;
  height: 168px;
  font-family: var(--fonte-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16.89px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.depoimentos-direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 430px;
  height: 628px;
}

.depoimentos-direita--1{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  width: 430px;
  height: 304px;
  background: #181818;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.depoimentos-direita--client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 13px;
  width: 200px;
  height: 50px;
}

.depoimentos-direita--client img {
  width: 50px;
  height: 50px;
}

.depoimentos-direita--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 137px;
  height: 48px;
}

.depoimentos-direita--1 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

}

.depoimentos-direita--2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 30px;
  width: 430px;
  height: 304px;
  background: #181818;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.depoimentos-direita--client {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  width: 200px;
  height: 50px;
}

.depoimentos-direita--2 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.quadro_final {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  width: 1579px;
  height: 530px;
}

.quadro_final--1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 86px;
  width: 1219px;
  height: 370px;
  background: var(--cor-fundo-quadro-final);
  border-radius: 33px;
}

.quadro_final--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 94px;
  gap: 37px;
}

.quadro_final--2 h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.quadro_final--img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 2px;
}

.quadro_final--img img {
  width: 585px;
  border-radius: 0 0 33px 0;  
}

















