:root {
    --cor-de-fundo: #181818;
    --cor-botoes-try-signup:#4452FE;
    --cor-letra: #fff;
    --fonte-letras: 'Khula', sans-serif;  
}

body {
    
    background-color: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-family: var(--fonte-letras); 
    
}


.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    margin-top: 30px; 
    
    
}

.cabecalho nav {
    display: flex;
    justify-content: center;
}


.cabecalho_logo{
    display: flex;
    flex-direction: row;
    padding-right: 136px;
   
   
}

.cabecalho_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 393px;
    height: 44px;
}

  .botao_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 183.5px;
  }

  .botao_login button {
    cursor: pointer;
    width: 139px;
    height: 52px;
    border: 1px solid #FFFFFF;
    background: var(--cor-de-fundo);
    color: var(--cor-letra);
    font-weight: 500;
    font-size: 17px;
  }

  .cabecalho_sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 17px;
    width: 1579px;
    height: 393px;
    
  }

  .cabecalho_titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 729px;
    height: 196px;
  }

  .cabecalho_titulo h1 {
    font-weight: 500;
    font-size: 80px;
    text-align: center;
  }

  .cabecalho_paragrafo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 602px;
    height: 80px;
  }

  .cabecalho_paragrafo p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  .cabecalho_botao {
    display: flex;
    justify-content: space-between;
    width: 387px;
    height: 65px;
    
  }

  .cabecalho_botao--1 {
    width: 178px;
    height: 65px;
    border: none;
    background: #4452FE;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: var(--cor-letra);
    cursor: pointer;  
  }

  .cabecalho_botao--2 {
    width: 178px;
    height: 65px;
    background-color: var(--cor-de-fundo);
    border: 1px solid #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color:#FFFFFF;
    cursor: pointer;
  }
  

.cabecalho_imagem{
  width: 1579px;
  height: 993px;
}

#cabecalho_imagem{
  width: 100%;
  height: 841px;
  background: linear-gradient(to bottom, transparent 5%, black 100%), url(../images/dashboard.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;    
}

.recursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 50px;
  gap: 10px;
  height: 1112px;
}


.recursos_sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 602px;
  height: 149px;
}

.recursos_sobre h1{
  font-weight: 400;
  font-size: 52px;
}

.recursos_sobre p{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.recursos_frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 27px;
  width: 1088px;
  height: 759px
}

.recursos_img {
  width: 752px;
  height: 759px;
}

.recurso_img--1{
  position: absolute;
  width: 696px;
  height: 659px;
  transform: translateY(10%);
  
}

.recurso_img--2{
  position: absolute;
  width: 400px;
  height: 276px;
  transform: translate(80%, 180%);    
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 100px;
  gap: 25px;
  width: 309px;
  height: 651px;
}

.lista_itens{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 269px;
  height: 196px;
}

.lista_itens--1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 204.49px;
  height: 80px;
  
}

.lista_img{
  padding: 19px 3px;
}

.lista_itens--h2{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

.lista_itens--p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 199px;
  gap: 35px;

  height: 930.52px;
}


.conteudo_sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 591px;
  height: 162px;
}

.conteudo_sobre h2{
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
}

.conteudo_sobre p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}












